<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
	<title>Attivita</title>
</head>
<body>
	<div>
		<p th:text="'nome: ' + ${attivita.name}" />
		<p th:text="'giorno: ' + ${attivita.day}" />
		<p th:text="'orario: ' + ${attivita.orario}" />
		<p th:text="'numero allievi: ' + ${numero}" />
		<table>
		<th:block th:each="allievo : ${allievi}">
			<tr>
				<td th:text="${allievo.name}">...</td>
				<td th:text="${allievo.lastName}">...</td>
				<td th:text="${allievo.email}">...</td>
				<td th:text="${allievo.phone}">...</td>
				<td th:text="${allievo.giorno}">...</td>
				<td th:text="${allievo.place}">...</td>
				<td><a th:href="@{'allievo' + '/' + ${allievo.id}}"> view </a></td>
			</tr>
		</th:block>
		</table>
		<div><a href="/addAttivitaAllievo">Aggiungi Allievo</a></div>
	</div>
</body>
</html>